
.login{
    margin-left:500px ;
    margin-right:300px ;
    margin-top: 0px;
    
}
#gobaltitle{
   margin-left: 110px;
   margin-bottom: 30px;
}

#camera{
   margin-left: 87px;
}
#loginbutton{
   margin-left: 120px; 
}
#link{
    margin-left: 60px;
}
#subtitle{
    margin-left: 40px;
}